---
# @see: https://docs.docker.com/compose/compose-file/
version: '3.7'

networks:
    lamp-network:
        name: lamp-network
        # ipam:
        #     driver: default
        #     config:
        #         - subnet: "172.18.0.0/24"

services:
    web:
        image: nginx:1.17-alpine
        container_name: lamp_web
        ports:
            - 80:80
            - 443:443
        volumes:
            - ~/Development:/app
            - ./nginx/ssl/:/etc/nginx/ssl
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./nginx/fastcgi_params:/etc/nginx/fastcgi_params
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ./nginx/snippets:/etc/nginx/snippets
            - ./nginx/rewrites:/etc/nginx/rewrites
        networks:
            - lamp-network
            # to set specific subnet fixed ip,
            # useful if you need to map a hostname to this container
            # lamp-network:
            #     ipv4_address: 172.18.0.6
        depends_on:
            - php

    php:
        image: soifou/php-alpine:fpm-7.4
        container_name: lamp_php
        volumes:
            - ~/Development:/app
            # to override some php settings, uncomment below
            # - ./php/php.ini:/etc/php7/conf.d/50_setting.ini
        ports:
            - 9000:9000
        # if php container need to be aware of api.test running on container web
        # you can set an extra hosts in /etc/hosts like below:
        # extra_hosts:
        #     - api.test:172.18.0.6
        networks:
            - lamp-network

    db:
        image: wodby/mariadb:10.4
        container_name: lamp_db
        # to persist databases, uncomment below
        # volumes:
            # for macOS
            # - /var/lib/boot2docker/mariadb:/var/lib/mysql
            # for linux
            # - /local/path/mysql:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
        networks:
            - lamp-network

    maildev:
        image: maildev/maildev
        container_name: lamp_mail
        ports:
            - 1080:80
        networks:
            - lamp-network

    # redis:
    #     image: redis:alpine
    #     container_name: lamp_redis
    #     networks:
    #         - lamp-network

    # mongodb:
    #     image: mvertes/alpine-mongo
    #     container_name: lamp_mongodb
    #     # override default start command, disabling journal here
    #     # https://github.com/mvertes/docker-alpine-mongo/blob/e7c9db6391c5495bc6221c60d7e577178cb3d0d3/Dockerfile#L10
    #     command: ["mongod", "--bind_ip", "0.0.0.0", "--nojournal"]
    #     # volumes:
    #     #     - /local/path/mongodb:/data/db
    #     ports:
    #         - 27017:27017
    #         # - 28017:28017
    #     networks:
    #         - lamp-network

    # mercure:
    #     image: dunglas/mercure
    #     container_name: lamp_mercure
    #     ports:
    #         - 8000:80
    #         - 3000:3000
    #     environment:
    #         JWT_KEY: '!ChangeMe!'
    #         DEMO: 1
    #         ALLOW_ANONYMOUS: 1
    #         CORS_ALLOWED_ORIGINS: '*'
    #         PUBLISH_ALLOWED_ORIGINS: http://localhost
    #     networks:
    #         lamp-network:
    #             ipv4_address: 172.18.0.10
