# @see: https://docs.docker.com/compose/compose-file/
version: '2'

services:
    web:
        image: nginx:1.11.3-alpine
        container_name: docker_web
        ports:
            - 80:80
        volumes:
            - ~/Development:/app
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./nginx/fastcgi_params:/etc/nginx/fastcgi_params
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ./nginx/snippets:/etc/nginx/snippets
            - ./nginx/rewrites:/etc/nginx/rewrites
        links:
            - php
    php:
        # image: soifou/php-alpine:fpm-7.0
        image: soifou/php-alpine:fpm-5.6
        container_name: docker_php
        volumes:
            - ~/Development:/app
        ports:
            - 9000:9000
        links:
            - db
            - maildev
            - memcached
    db:
        image: soifou/mariadb-alpine
        container_name: docker_db
        volumes:
            - /var/lib/boot2docker/mariadb:/data/db/mysql
        environment:
            - DB_USER=root
            - DB_PASS=root

    maildev:
        image: djfarrelly/maildev
        container_name: docker_mail
        ports:
            - 1080:80

    memcached:
        image: rane/alpine-memcached-redis
        container_name: docker_memcached
        ports:
            - 11211:11211 # memcached
            - 6379:6379 # redis

networks:
    default:
        external:
            name: lamp-network