####################################################
# SYMFONY 2/3
####################################################
server {
    server_name www.symfony.local;
    root /app/symfony/web;
    error_log off;
    access_log off;
    include snippets/symfony.conf;
}

####################################################
# SYMFONY 4
####################################################
server {
    server_name www.sf4.local;
    root /app/sf4/public;
    error_log off;
    access_log off;
    include snippets/basic-php.conf;
}

####################################################
# LARAVEL
####################################################
server {
    server_name www.laravel.local;
    root /app/laravel/public;
    error_log off;
    access_log off;
    include snippets/laravel.conf;
}

####################################################
# WORDPRESS
####################################################
server {
    server_name wordpress.local;
    root /app/wordpress;
    error_log off;
    access_log off;
    include snippets/wordpress.conf;
}

####################################################
# MAGENTO
####################################################
server {
    server_name magento.local;
    root /app/magento;

    access_log off;
    error_log off;

    include snippets/magento.conf;

    location ~ .php$ {
        if (!-e $request_filename) {
            rewrite / /index.php last;
        }
        expires off; ## Do not cache dynamic content
        fastcgi_pass   php:9000;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  MAGE_RUN_CODE xxxx;
        fastcgi_param  MAGE_RUN_TYPE yyyy;
        fastcgi_param  MAGE_IS_DEVELOPER_MODE true;
        include        fastcgi_params;
    }

    # we don't want all the medias stored in our computer!
    location /media {
        return 302 http://www.website.com$request_uri;
    }
}

####################################################
# PRESTASHOP 1.6
####################################################
server {
    server_name prestashop.local;
    root /app/prestashop;
    access_log off;
    include snippets/prestashop.conf;
}

####################################################
# CODEIGNITER
####################################################
server {
    server_name codeigniter.local;
    root /app/codeigniter;
    index index.php;
    include snippets/basic-php.conf;
}

####################################################
# ZEND
####################################################
server {
    server_name zend.local;
    root /app/zend/public;
    index index.php;
    include snippets/basic-php.conf;
}

####################################################
# SECURED
####################################################
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name secured.local;
    root /app/secured;

    include snippets/ssl.conf;
    ssl_certificate /etc/nginx/ssl/secured.local.pem;
    ssl_certificate_key  /etc/nginx/ssl/secured.local-key.pem;

    include snippets/basic-php.conf;
}