; General
always_populate_raw_post_data = -1
date.timezone = Europe/Paris
display_errors = On
html_errors = On
max_execution_time = 300
memory_limit = -1
post_max_size = 50M
session.auto_start = Off
short_open_tag = Off
upload_max_filesize = 100M

; XDebug
;xdebug.idekey = sublime.xdebug
;xdebug.profiler_enable_trigger = 1
;xdebug.profiler_output_name = callgrind.out.%p
;xdebug.remote_connect_back = 0
;xdebug.remote_enable = 1
;xdebug.remote_handler = "dbgp"
;xdebug.remote_host = 10.254.254.254
;xdebug.remote_log = /tmp/xdebug.log
;xdebug.remote_mod = req
;xdebug.remote_port = 9001
;xdebug.var_display_max_children = -1
;xdebug.var_display_max_data = -1
;xdebug.var_display_max_depth = -1

; OpCache
;opcache.enable=1
;opcache.enable_cli=1
;opcache.memory_consumption=128
;opcache.interned_strings_buffer=8
;opcache.max_accelerated_files=4000
;opcache.use_cwd=1
;opcache.revalidate_freq=60
;opcache.fast_shutdown=1
;opcache.save_comments=1
;opcache.load_comments=1